---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/base/BaseLayout.astro";
import BlogPost from "@components/BlogPost.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Entradas etiquetadas con {tag}</p>
  <br />
  <ul>
    {
      posts.map((post) => (
        <BlogPost
          url={`/posts/${post.id}/`}
          title={post.data.title}
          imagen={post.data.image.url}
          descripcion={post.data.description}
        />
      ))
    }
  </ul>
</BaseLayout>
