---
import SOCIAL_PLATAFORMS from "@/constants/social-plataforms";
import Social from "./Social.astro";
import NAV_LINKS from "@/constants/nav-links";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
const tags = [
  ...new Set(
    allPosts
      .map((post) => post?.data?.tags)
      .flat()
      .splice(0, 5)
  ),
];
const param = Astro.params;
console.log(param);
---

<footer class="grid gap-3 p-3 md:p-10 bg-dark-navy text-bone-white">
  <div class="first-section flex justify-between items-center">
    <p>DAVID VELA</p>
    <ul class="flex flex-row items-center gap-x-2">
      {
        SOCIAL_PLATAFORMS.map((p) => (
          <li class="social-icon flex items-center mx-1rem">
            <Social color={p.color} platform={p.plataform} url={p.url} />
          </li>
        ))
      }
    </ul>
  </div>
  <hr class="border-sea-green" />
  <div class="second-section grid grid-cols-2 overflow-hidden pb-1em">
    <div class="flex flex-col">
      <h3 class="text-sea-green">Pages</h3>
      {
        NAV_LINKS.map((l) => (
          <a
            href={l.path}
            class="text-gray-300 hover:text-white transition-colors duration-300"
          >
            {l.routeName}
          </a>
        ))
      }
    </div>
    <div class="flex flex-col">
      <h3 class="text-sea-green">Tags</h3>
      {
        tags.map((tag) => (
          <a
            href={`/tags/${tag}`}
            class="text-gray-300 hover:text-white transition-colors duration-300"
          >
            {tag}
          </a>
        ))
      }
      <a
        href={`/tags/`}
        class="text-gray-300 hover:text-bone-white transition-colors duration-300"
      >
        Ver más...
      </a>
    </div>
  </div>
  <hr class="border-sea-green" />
  <div class="third-section flex justify-center items-center text-center">
    <p>
      &copy; {new Date().getFullYear()} David Vela - Todos los derechos reservados
    </p>
  </div>
</footer>
